<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsxW9EI0wYHK2W5I51WfOZ7VlwN19N28I</string>
	<key>GCM_SENDER_ID</key>
	<string>256699099031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.Arh.taskmanager</string>
	<key>PROJECT_ID</key>
	<string>pro-task-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-task-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256699099031:ios:d23c52911c22993ddcc6d2</string>
</dict>
</plist>